---
http_interactions:
- request:
    method: get
    uri: http://howmuchisthe.fish/json/random
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":29,"permalink":"http://howmuchisthe.fish/json/perma/29","quote":{"text":"When
        I''m far from home, don''t call me on the phone to tell me you''re alone.","track":"Eyes
        without a face","album":"No time to chill","year":"1998","album_cover":"http://s.pixogs.com/image/R-61786-1184615486.jpeg","album_information":"http://www.discogs.com/Scooter-No-Time-To-Chill/master/3680"}}'
  recorded_at: Sat, 11 Oct 2014 16:45:46 GMT
- request:
    method: get
    uri: http://howmuchisthe.fish/json/random
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":29,"permalink":"http://howmuchisthe.fish/json/perma/29","quote":{"text":"When
        I''m far from home, don''t call me on the phone to tell me you''re alone.","track":"Eyes
        without a face","album":"No time to chill","year":"1998","album_cover":"http://s.pixogs.com/image/R-61786-1184615486.jpeg","album_information":"http://www.discogs.com/Scooter-No-Time-To-Chill/master/3680"}}'
  recorded_at: Sat, 11 Oct 2014 16:45:46 GMT
recorded_with: VCR 2.9.3
